<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/myStyle.css">

  <title>Meteorologicka stanicka</title>
  <script src="static/libs/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
  <script src="static/libs/jquery-ui.min.js"></script>
  <script src="static/libs/plotly-latest.min.js"></script>

  <link rel="stylesheet" href="static/libs/jquery-ui.min.css">

  <script>
   $(document).ready(function(){
    var layout = {
          title: 'Teplota a cas z databazy',
          xaxis: {
            title: 'Cas',
            
          },
          yaxis: {
            title: 'Teplota',
            
          }
        };
	$('form#record').submit(function(event) {
		var $link = "read/"+$('#value').val();
     console.log($link)
    $.ajax({
      type: "POST",
      url: $link,
      success:function(data) 
      { 
        $('#logg').html(data).html();
        data = JSON.parse(data);
        n = Object.keys(data).length;
        
        xl = [];
        yl = [];
        zl = [];

        for (var i=0; i< n; i++){
          xl.push(i);
          yl.push(data[i].x);
          zl.push(data[i].y);
          }
        trace = {
            x: xl,
            y: yl,
            name: 'Teplota' 
            };
        tracek = {
            x: xl,
            y: zl,
            name: 'Tlak' 
            };
        
        var tracel = new Array();
        tracel.push(trace,tracek);  
        Plotly.newPlot($('#plotdiv')[0], tracel, layout);
        
      }
    }).done(function( o ) {
       // do something
       
    });
    return false; });    
   });   

  </script>
</head>
<body>
 <form id="record" method="POST" action='#'>
    <input type="text" name="value" id="value" placeholder="Record No">
    <input type="submit" value="Set">
  </form>
    <div id="plotdiv" style="width:600px;height:250px;"></div>
        <h2>Data zo suboru:</h2>
          <div id="logg"></div>
</body>
</html> 
