<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="static/myStyle.css">

  <title>Meteorologicka stanicka</title>
  <script src="static/libs/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
  <script src="static/libs/jquery-ui.min.js"></script>
  <script src="static/libs/plotly-latest.min.js"></script>
  <script src="static/libs/gauge.min.js"></script>
  <script src="static/myScript.js"></script>
  <link rel="stylesheet" href="static/libs/jquery-ui.min.css">

</head>

<body>

  <div class="welcomeButton" id="welcomeParent">
    <div id="lowerButton">
      <button id="startButton" type="submit" value="start" onclick="showBody()">OPEN</button>
    </div>
  </div>

  <div class="container" id="designData">
    <div class="center">
      <h1>Mini meteorologicka stanica</h1>
      
      
      <div class="paddingAround">
       
        <input type="number" id="valueLim" placeholder="Teplota limit">
        <button id="limitSet" type="submit">Set</button>
       
                
        <div>
        <button id="buttonVal" type="submit" value="start">Start</button>
        </div>
        <form id="disconnect" method="POST" action="#">
          <input type="submit" value="Disconnect">
        </form>
      </div>
      <div id="tabs">
        <ul>
          <li><a href="#tabs-1">Data</a></li>
          <li><a href="#tabs-2">Graf</a></li>
          <li><a href="#tabs-3">Cifernik</a></li>
        </ul>
        <div id="tabs-1">
          <h2>Data zo sensoru:</h2>
          <div id="log"></div>
        </div>
        <div id="tabs-2">
          <div class="center">
            <button id="tempsButton" type="submit" onclick="showTempGraf()">Teplota</button>
            <button id="pressButton" type="submit" onclick="showPressGraf()">Tlak</button>
          </div>
          <div id="plotdivTemp" style="width:600px;height:250px;"></div>
          <div id="plotdivPress" style="width:600px;height:250px;"></div>
        </div>
        <div id="tabs-3">
          <canvas id="canvasID"></canvas>
        </div>
        
      </div>

      
    </div>
  </div>


</body>

</html>
